<%- include("header") %>
<div class="container-fluid erollstu">
    <div class="centerAlign">
        <%- include("messages") %>
        <h1>Academic Calendar</h1>
        <div  >
            <iframe src="https://www.cethalassery.ac.in/files/Academic_Calender-2018-19.pdf" width=500 height="500"></iframe>
        </div>
    </div>
</div>
<%- include("footer") %>