<%- include("header") %>
<div class="container-fluid erollstu">
    <div class="centerAlign">
        <%- include("messages") %>
        <h1>Academic Calendar</h1>
        <div id="pdfRenderer">
            <iframe src="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjZkL-3y7X8AhUmTmwGHcacAokQFnoECBcQAQ&url=https%3A%2F%2Fktu.edu.in%2Feu%2Fatt%2Fattachments.htm%3Fdownload%3Dfile%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%26id%3DwCUTO2XBDvK1sFXhAmF5ptl21TFiv8i9QwjzH5HuuVA%253D%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%26fileName%3D%26downloadType%3DF6KwaboWLYV%252BpRLCJhnb1XPTjnrNXkHY9kC9Kxc3LBg%253D&usg=AOvVaw0tzqVEm0oVMrb4FYMoM2dC"
   width="800" height="600">
        </div>
    </div>
</div>
<%- include("footer") %>